@import 'styles/shared';

.title {
  margin-bottom: 30px;
}

.form {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 20px;
  text-align: center;
  border: 2px solid $form-button-color;
  border-radius: 20px;
}

.label {
  @extend %label;
}

.input {
  @extend %input;
  border-color: $form-button-color;
}

.button {
  @extend %button;

  &:hover {
    background-color: $form-button-accent;
  }
}
