$main-bcg-color: rgb(40, 1, 66);
$text-color: white;
$grey: rgb(226, 224, 224);
$form-button-color: #C48613;
$form-button-accent: orange;
$first-contact-color: rgb(255, 68, 0);
$second-contact-color: rgb(0, 17, 255);
$third-contact-color: rgb(219, 45, 152);
$fourth-contact-color: rgb(51, 160, 0);
$contaact-button-color: rgba(
  $color: #312e2e,
  $alpha: 0,
);
$contaact-button-accent: rgb(40, 1, 66);
