@import 'styles/shared';


.container {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.avatar {
  margin-right: 5px;
}

.name {
  font-weight: 700;
  margin-right: 15px;
}

.button {
  @extend %button;
  padding: 5px 10px;

  &:hover {
    background-color: $form-button-accent;
  }
}